################################################################################
# tc-redis.properties.template (TC-COMM-GATEWAY-APP)
#
# 목적
# - Comm Gateway Redis 연결 템플릿입니다.
# - 실제 비밀번호는 환경변수로 주입합니다.
#
# 사용 방법
# 1) 본 파일을 복사해서 apps/tc-comm-gateway-app/config/tc-redis.properties 를 생성합니다.
# 2) TC_GATEWAY_REDIS_PASSWORD 또는 TC_COMM_GATEWAY_REDIS_PASSWORD를 설정합니다.
################################################################################

spring.data.redis.host=localhost
spring.data.redis.port=6379
spring.data.redis.password=${TC_COMM_GATEWAY_REDIS_PASSWORD:${TC_GATEWAY_REDIS_PASSWORD:}}

# 운영 정책값 예시
tc.comm.gateway.redis.dlq-ttl-seconds=604800
tc.comm.gateway.redis.quarantine-ttl-seconds=1209600
