################################################################################
# tc-db.properties.template
#
# 목적
# - 로컬/운영 환경에서 공통으로 사용하는 DB 설정 템플릿입니다.
# - 실제 비밀번호는 절대 Git에 저장하지 않고 환경변수로 주입합니다.
#
# 사용 방법
# 1) 본 파일을 복사해서 config/tc-db.properties 를 생성합니다.
# 2) 아래 TC_DB_PASSWORD 환경변수를 OS/CI/Vault에 설정합니다.
#    - Windows PowerShell: $env:TC_DB_PASSWORD="실제비밀번호"
#    - Linux/macOS bash: export TC_DB_PASSWORD="실제비밀번호"
################################################################################

spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/dev_tc
spring.datasource.username=nori
spring.datasource.password=${TC_DB_PASSWORD:}

# 선택: JPA 기본 설정
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.open-in-view=false
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.jdbc.time_zone=UTC
