<update id="update">
        UPDATE tc_model_workflow
           SET model_key         = #{w.modelKey},
               workflow_name     = #{w.workflowName},
               message_name      = #{w.messageName},
               event_id          = #{w.eventId},
               transaction_id    = #{w.transactionId},
               workflow_filter   = #{w.workflowFilter},
               action_name       = #{w.actionName},
               action_data_index = #{w.actionDataIndex},
               updated_at        = CURRENT_TIMESTAMP
         WHERE workflow_key      = #{w.workflowKey}
    </update>

    <select id="findByWorkflowKey" resultMap="TcModelWorkflowMap">
        SELECT <include refid="TcModelWorkflowColumns"/>
          FROM tc_model_workflow
         WHERE workflow_key = #{workflowKey}
    </select>

    <select id="findByModelKeyAndWorkflowNameAndMessageName" resultMap="TcModelWorkflowMap">
        SELECT <include refid="TcModelWorkflowColumns"/>
          FROM tc_model_workflow
         WHERE model_key = #{modelKey}
           AND workflow_name = #{workflowName}
           AND message_name = #{messageName}
    </select>

    <select id="findAllByModelKey" resultMap="TcModelWorkflowMap">
        SELECT <include refid="TcModelWorkflowColumns"/>
          FROM tc_model_workflow
         WHERE model_key = #{modelKey}
         ORDER BY workflow_key DESC
        <if test="limit > 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <delete id="deleteByWorkflowKey">
        DELETE FROM tc_model_workflow WHERE workflow_key = #{workflowKey}
    </delete>

</mapper>