<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nori.tc.db.mybatis.common.mapper.model.TcModelReportIdMapper">

    <resultMap id="TcModelReportIdMap" type="com.nori.tc.db.domain.model.TcModelReportId">
        <constructor>
            <idArg column="report_key" javaType="long"/>
            <arg column="model_version_key" javaType="long"/>
            <arg column="report_id" javaType="java.lang.String"/>
            <arg column="variable_id" javaType="java.lang.String"/>
            <arg column="enabled" javaType="boolean"/>
            <arg column="description" javaType="java.lang.String"/>
            <arg column="updated_at"
                 javaType="java.time.OffsetDateTime"
                 typeHandler="com.nori.tc.db.mybatis.common.typehandler.OffsetDateTimeTypeHandler"/>
        </constructor>
    </resultMap>

    <sql id="TcModelReportIdColumns">
        report_key, model_version_key, report_id, variable_id, enabled, description, updated_at
    </sql>

    <insert id="insert">
        INSERT INTO tc_model_reportid (
            model_version_key, report_id, variable_id, enabled, description
        ) VALUES (
            #{r.modelVersionKey}, #{r.reportId}, #{r.variableId}, #{r.enabled}, #{r.description}
        )
    </insert>

    <update id="updateByUniqueKey">
        UPDATE tc_model_reportid
           SET variable_id = #{r.variableId},
               enabled     = #{r.enabled},
               description = #{r.description},
               updated_at  = CURRENT_TIMESTAMP
         WHERE model_version_key = #{r.modelVersionKey}
           AND report_id = #{r.reportId}
    </update>

    <select id="findByReportKey" resultMap="TcModelReportIdMap">
        SELECT <include refid="TcModelReportIdColumns"/>
          FROM tc_model_reportid
         WHERE report_key = #{reportKey}
    </select>

    <select id="findByModelVersionKeyAndReportId" resultMap="TcModelReportIdMap">
        SELECT <include refid="TcModelReportIdColumns"/>
          FROM tc_model_reportid
         WHERE model_version_key = #{modelVersionKey}
           AND report_id = #{reportId}
    </select>

    <select id="findAllByModelVersionKey" resultMap="TcModelReportIdMap">
        SELECT <include refid="TcModelReportIdColumns"/>
          FROM tc_model_reportid
         WHERE model_version_key = #{modelVersionKey}
         ORDER BY report_key ASC
        <if test="limit > 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <delete id="deleteByReportKey">
        DELETE FROM tc_model_reportid WHERE report_key = #{reportKey}
    </delete>

</mapper>
