<insert id="insert">
        INSERT INTO tc_model_secs_message (
            model_version_key, secs_msg_name, description, data_index, created_at, updated_at
        ) VALUES (
            #{m.modelVersionKey}, #{m.secsMsgName}, #{m.description}, #{m.dataIndex}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
        )
    </insert>

    <update id="update">
        UPDATE tc_model_secs_message
           SET model_version_key    = #{m.modelVersionKey},
               secs_msg_name = #{m.secsMsgName},
               description   = #{m.description},
               data_index    = #{m.dataIndex},
               updated_at    = CURRENT_TIMESTAMP
         WHERE secs_msg_key = #{m.secsMsgKey}
    </update>

    <select id="findBySecsMsgKey" resultMap="Map">
        SELECT <include refid="Columns"/>
          FROM tc_model_secs_message
         WHERE secs_msg_key = #{secsMsgKey}
    </select>

    <select id="findByModelVersionKeyAndName" resultMap="Map">
        SELECT <include refid="Columns"/>
          FROM tc_model_secs_message
         WHERE model_version_key = #{modelVersionKey}
           AND secs_msg_name = #{secsMsgName}
    </select>

    <select id="findAllByModelVersionKey" resultMap="Map">
        SELECT <include refid="Columns"/>
          FROM tc_model_secs_message
         WHERE model_version_key = #{modelVersionKey}
         ORDER BY secs_msg_key ASC
        <if test="limit > 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <delete id="deleteBySecsMsgKey">
        DELETE FROM tc_model_secs_message WHERE secs_msg_key = #{secsMsgKey}
    </delete>

</mapper>