<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nori.tc.db.mybatis.common.mapper.model.TcModelEventIdMapper">

    <resultMap id="TcModelEventIdMap" type="com.nori.tc.db.domain.model.TcModelEventId">
        <constructor>
            <idArg column="event_key" javaType="long"/>
            <arg column="model_version_key" javaType="long"/>
            <arg column="event_id" javaType="java.lang.String"/>
            <arg column="report_id" javaType="java.lang.String"/>
            <arg column="enabled" javaType="boolean"/>
            <arg column="description" javaType="java.lang.String"/>
            <arg column="updated_at"
                 javaType="java.time.OffsetDateTime"
                 typeHandler="com.nori.tc.db.mybatis.common.typehandler.OffsetDateTimeTypeHandler"/>
        </constructor>
    </resultMap>

    <sql id="TcModelEventIdColumns">
        event_key, model_version_key, event_id, report_id, enabled, description, updated_at
    </sql>

    <insert id="insert">
        INSERT INTO tc_model_eventid
            (model_version_key, event_id, report_id, enabled, description)
        VALUES
            (#{e.modelVersionKey},
             #{e.eventId},
             #{e.reportId},
             COALESCE(#{e.enabled}, false),
             #{e.description})
    </insert>

    <update id="update">
        UPDATE tc_model_eventid
           SET report_id  = #{e.reportId},
               enabled    = #{e.enabled},
               description = #{e.description},
               updated_at = CURRENT_TIMESTAMP
         WHERE model_version_key = #{e.modelVersionKey}
           AND event_id  = #{e.eventId}
    </update>

    <select id="findByEventKey" resultMap="TcModelEventIdMap">
        SELECT <include refid="TcModelEventIdColumns"/>
          FROM tc_model_eventid
         WHERE event_key = #{eventKey}
    </select>

    <select id="findByModelVersionKeyAndEventId" resultMap="TcModelEventIdMap">
        SELECT <include refid="TcModelEventIdColumns"/>
          FROM tc_model_eventid
         WHERE model_version_key = #{modelVersionKey}
           AND event_id = #{eventId}
    </select>

    <select id="findAllByModelVersionKey" resultMap="TcModelEventIdMap">
        SELECT <include refid="TcModelEventIdColumns"/>
          FROM tc_model_eventid
         WHERE model_version_key = #{modelVersionKey}
         ORDER BY event_key ASC
        <if test="limit > 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <delete id="deleteByEventKey">
        DELETE FROM tc_model_eventid WHERE event_key = #{eventKey}
    </delete>

</mapper>
